body{
  font-family: arial, sans-serif;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: flex-end;
    background-color: darkcyan;
    padding: 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    padding: 20px;
    margin: 0 0 0 auto;
}

nav ul li{
    margin-right: 60px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    background-color: dodgerblue;
    color: indigo;
    padding: 10px;
    border-radius: 5px;
}

/*hero section*/
.hero-image{
    background-image: url("https://cdn.pixabay.com/photo/2014/03/24/17/15/school-295210_1280.png");
background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.hero-text{
   position: absolute;
    bottom: 100px;
    left: 200px;
}

.hero-text h1{
  font-size: 35px;
    margin: 0;
}

.hero-text p{
    font-size: 20px;
}

#reg-button{
background-color: red;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
/*facilities*/
.gallery {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.gallery img{
    width: 30%;
    border-radius: 8px;
    height: 30vh;
}

h1{
    text-align: center;
    font-family: arial, sans-serif;
    margin-bottom: 20px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    width: 500px;
    padding: 10px;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.gallery-item iframe{
    width: 100%;
    height: 300px;
}
/*CONTACT*/
.contact-container{
display: flex;
flex-direction: column;
align-items: center;
}
.contact-details{
    background-color: gray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
}
.contact-details h2{
    font-family: Arial, San sans-serif;
    margin-top: 0;
    color: white;
}
.contact-details p{
    margin: 5px 0;
    font-family: Arial, sans-serif;
}

iframe{
    width: 100%;
    margin-bottom: 50px;
    border: none;
    border-radius: 10px;
}

/*form styles*/
.main-container{
    display: flex;
    padding: 30px;
    gap: 350px;
}
.form-container{
    width: 470px;
    background-color: white;
    padding: 50px;
    border-radius: 14px;
    box-shadow: 0 8px 24px rgba( 0,0,0,0.1);
}
h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
}
.form-group{
    margin-bottom: 18px;
}
.form-group label{
    display: block;
    font-weight: 400;
    color: #666;
}
.form-group input,
.form-group select{
width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}
.form-group button{
    width: 100%;
    padding: 12px;
    background-color: royalblue;
    border: none;
    border-radius: 8px;
    font-size:14px ;
    font-weight: 450;
    cursor: pointer;
}
.radio-group{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
/*Table styles*/
.table-container{
    width: 500px;
   padding: 20px;
    border-radius: 12px;
    background-color: #f0f0f0;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
table{
width: 100%;
    margin: 12px;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
}
    th,td{
        padding: 12px;
        text-align: left;
    }
    /*Carousel*/
.carousel-inner img{
   width: 100%;
    height: 70vh;

}


}